body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}

footer {
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
    display: grid;
    grid-column: 1;
    grid-row: 3;
}

#footer-top-box {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    border-color: #dadce0;
    justify-content: center;
    box-sizing: border-box;
}

#footer-top-box-text {
    padding: 15px 30px;
    font-size: 15px;
}

#footer-bottom-box {
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: 0px 20px;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#offering-text {
    font-size: small;
}

header {
    display: grid;
    text-align: center;
    grid-template-columns: max-content max-content 1fr max-content max-content max-content;
    padding: 6px;
    align-items: center;
    margin-top: 4px;
}

#about-button {
    grid-column: 1 / 2;
    padding: 5px;
    margin-right: 5px;
    margin-left: 15px;
}

#store-button {
    grid-column: 2 / 3;
    padding: 5px;
    margin: 0px 5px 0px 5px;
}

#gmail-button {
    font-size: 13px;
    grid-column: 3 / 4;
    text-align: right;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 0px 15px;
}

#images-button {
    font-size: 13px;
    grid-column: 4 / 5;
    text-align: right;
    padding: 5px 5px 5px 5px;
    margin: 0px 14px 0px 5px;
}

#google-apps-button {
    grid-column: 5 / 6;
    text-align: right;
    padding: 8px 8px 8px 8px;
    margin: 0px 4px 0px 0px;
    height: 40px;
    width: 40px;
    white-space: nowrap;
    box-sizing: border-box;
    color: #5f6368 !important;
    opacity: 1;
    fill: currentColor;
    border-radius: 50%;
}

#google-apps-button:hover {
    background-color: #EFEBF0;
}

#sign-in-button {
    grid-column: 6 / 7;
    padding: 5px;
    margin: 0px 12px 0px 8px;
    background-color: #1a73e8;
    color: white;
    font-weight: 500;
    letter-spacing: .25px;
    border-radius: 4px;
    padding: 10px 23px;
    min-width: 96px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

#sign-in-button:hover {
    background-color: #2b7de9;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

#sign-in-button-text:hover {
    text-decoration: none;
}

#logo-searchbar-buttons-offering {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    justify-content: center;
}

#searchbar-buttons {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100vw;
    box-sizing: border-box;
}

#searchbar {
    display: flex;
    border: 1px solid #dfe1e5;
    height: 44px;
    background-color: white;
    box-shadow: none;
    border-radius: 24px;
    width: 100%;
    max-width: 584px;
    align-items: center;
    padding: 0px 8px 0px 14px;
}

#searchbar:hover, #searchbar:focus-within {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#full-length-mag-glass {
    display: inline-block;
    color: #9aa0a6;
    fill: currentColor;
    position: relative;
    height: 20px;
    width: 20px;
    margin-top: 3px;
}

#searchbar-box {
    display: flex;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding-left: 13px;
    flex: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    flex-wrap: wrap;
    word-wrap: break-word;
    height: 34px;
}

#searchbar-box:focus{
    outline: none;
}

#buttons {
    padding-top: 18px;
    margin: 11px 4px;
}

#buttons :hover { 
    cursor: pointer;
}

.search-buttons {
    padding: 0px 16px 0px 16px;
    margin: 11px 4px 11px 4px;
    background-color: #f8f9fa;
    border-radius: 4px;
    height: 36px;
    min-width: 54px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid transparent;
}

.search-buttons:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#footer-bottom-box {
    display: flex;
    flex-wrap: wrap;
}

#footer-bottom-box-left {
    display: flex;
}

#footer-bottom-box-right {
    display: flex;
}

#advertising-button {
    padding: 15px;
    margin-bottom: 1px;
}

#business-button {
    padding: 15px;
    margin-bottom: 1px;
}

#howsearchworks-button {
    padding: 15px;
    margin-bottom: 1px;
}

#privacy-button {
    padding: 15px;
    margin-bottom: 1px;
}

#terms-button {
    padding: 15px;
    margin-bottom: 1px;
}

#settings-button {
    padding: 15px;
    margin-bottom: 1px;
}

.blue-link {
    color: #1a0dab !important;
}

@media screen and (min-width: 1200px) {
    #footer-bottom-box {
        justify-content: space-between;
    }
}